*{
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
};
body {
  margin: 0;
  background-color: #F8F5F2;
  color: #385144;
  font-family: 'Inter', sans-serif;
}